@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');

body {
    background-image: url('../images/background.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
    color: #34495E;
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;   
}

.container-fluid {
    margin: 0;
    padding: 0;
}

body a:focus {
    border: none;
}

body button:focus {
    border: none;
    outline: 0;
}

/* Headings, Positions, Recurring Elements, Text And Colors */

.lightsection {
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

.lightbg {
    color: #5DADE2;
    font-size: 20px;
}

.darkbg {
    color: #FAFAFA; 
    font-size: 24px;
}

.title {
    color: #34495E;  
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;  
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2px;    
}

.lightbgtext {
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.linkfx {
    color: #FAFAFA;
    outline: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.linkfx:hover {
    color: #5DADE2;
}

.groupposition {
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.expandlearnmore {
    border: none;
    background-color: #FAFAFA;
    color: #34495E;
}

.expandicon {
    margin:0;
    padding:0;
    border:0;
    font-size: 14px;
}

.expandicon i {
    margin-right: 5px;
}

.collapse {
    overflow: hidden;
}

.learnmorecontent {
    width: 90%;
    text-align: justify;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
}

.learnmoresocial {
    margin-bottom: 0px;

}

.learnmoresocial li a {
    font-size: 16px;
    color: #34495E;
}

/* Hero Image Background And Animation (credits to Jasper La Chance) & Titles */

.large-header {
   background-size: cover;
   background-position: center center;
   background-image: url('../images/background.jpg');
   overflow: hidden;
   position: relative;
   width: 100%;
   z-index: 0;
}
   
.main-title {
    color: #FAFAFA;
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 300px;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
   
}

.main-title .thin {
    font-weight: 200;
}

.sub-title {
    font-weight: 200;
    letter-spacing: 5px;
    margin-top: 20px;
}

/* Social Links in header */

.social-links {
    margin: 20px 0px;
}

.social-links li a i {
    font-size: 20px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    text-align: center;
}

/* Navbar */

.navbarproperties {
    background-color: rgb(0,0,0,0);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1; 
}

.navbar-toggler {
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=FAFAFA');
    font-size: 18px;
}

/* Intro Section */

.formatimage {
    position:relative;
    margin: 20px 10px 20px 10px;
    float: right;
}

.formatimage:after {
    content:'';
    position:absolute;
    left:0; 
    top:0;
    width:100%; 
    height:100%;
    display: inline-block;
    background: rgb(250,250,250);
    background: -moz-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0.40) 25%);
    background: -webkit-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0.40) 25%);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0.40) 25%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#fafafa",GradientType=1);
}

/* About Me Section */

.logoformat {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

/* Skills Section */

.navskills {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.navskills a {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #5DADE2; 
}

.progress {
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    background-color:#FAFAFA;
}

.progress-bar {
    height: 20px;
    border-radius: 4px;
}

.skillsposition{
    padding-right: 10px;
    text-align: right;
}

.demandplanning {
    width: 65%;
    background-color: #5DADE2;
}

.mrp {
    width: 75%;
    background-color: #2F89BC;
}

.inventorymanagement {
    width: 65%;
    background-color: #006797;
}

.scanalytics {
    width: 85%;
    background-color: #004774;
}

.sop {
    width:65%;
    background-color: #002953;
}

.html {
    width: 60%;
    background-color: #5DADE2;
}

.css {
    width: 50%;
    background-color: #2F89BC;
}

.sql {
    width: 30%;
    background-color: #006797;
}

.javascript{
    width: 25%;
    background-color: #004774;
}

.python {
    width:20%;
    background-color: #002953;
}

/* Portfolio Section */

.card {
    background-color: #FAFAFA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
}

.container {
  padding: 10px 10px;
}

.portfoliodate {
    font-weight: 400;
    font-size: 12px;
    padding: 10px 10px;    
}

.portfoliosubtitle {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2px;    
}

/* Running Section */

.eventlogoformat {
    display: block;
    float: left;
    width: 100px;
    height: 60px;
    margin-right: 20px;
}

.stravafeedposition {
    margin-left: 20px;
}

/* Music Section */

.videoformat {
    display: block;
    height: 315px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 560px;
}

/* Contact Section */

.contactcontainer {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 
    overflow: hidden;
}

.contactformtitle {
    align-content: center;
    color: #FAFAFA;
    display: absolute;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    text-align: center;
}

.contactformsubtitle {
    color:#5DADE2;
}

.formformat {
    background-color: rgba(250,250,250,0.05);
    border: #FAFAFA solid 1px;
    border-radius: 4px;
    color:#FAFAFA;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
    height: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 10px;
    width: 50%;  
}

.textarea {
    height: 150px;
    margin-bottom: 0;
}

.buttonformat {
    background-color: #FAFAFA;
    border-radius: 4px;
    color: #5DADE2;
    font-size: 10px;
    margin-left: 25%;
    text-transform: uppercase;
}

.buttonformat:hover {
    background-color: #5DADE2;
    color: #FAFAFA;
}

::placeholder {
    color: #FAFAFA;
}

input[type="button"]:active {
    border: none;
}

*:focus {
    border: #5DADE2 solid 1px;
    outline: none;
}

/* Footer Section */

.darksection {
    background-color: #333333;
}

.footeradjustments {
    color: #5DADE2;
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-links {
    margin-left: 20px;
}

.contact-links li a i {
    width: 24px;
    height: 24x;
    padding: 8px 0;
    font-size: 16px;
}

.sitemap {
    list-style-type: none;
}

.sitemap li a {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

/* Media Queries */

@media (max-width: 991.98px) { 

.heading .lightbg {
    margin-top: 5px;
}

.lightbgtext {
    font-size: 0.6rem;
    padding-right: 20px;
}

.contactformtitle {
    font-size: 0.9rem;
}

.contactsectiontitle {
    margin-left: 25%;
}

}

@media (max-width: 575.98px) { 

/* Impossible list small screens */

.lightbgtext {
    font-size: 0.8rem;
}

.groupposition {
    margin-left: 20px;
}

/* Music small screens */

    .videoformat {
    width: 280px;
    height: 155px;
    }   

/* Contact small screens */

    .formformat {
        margin-left: 12.5%;
        margin-right: 12.5%;
        width: 75%;
    }

    .buttonformat {
        margin-left: 12.5%;
    }

    .contactformtitle {
    margin-left:10%;
    margin-right: 10%;
    font-size: 0.9rem;
    letter-spacing: 3px;
    }

/* Footer small screens */

    .footerheading {
        font-size: 0.9rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .contact-links {
        margin-bottom: 5px;
    }
    
}