@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');

body { 
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center center;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    background-repeat: repeat-y;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.hide {
    display: hidden;
}

/*-------------------------------------- Headings, text and colors --------------------------------------*/

.lightsection {
    position:relative;
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lightbgheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: #5DADE2;    
}

.darkbgheading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 20px;    
}

.workhistorytitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: #34495E;    
}

.workhistorysubtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #34495E;    
}

.lightbgtext {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color:#34495E
}

.darkbgtext {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #FAFAFA;
}

/*-------------------------------------- Hero Image Background (credits to Jasper La Chance) & Titles  --------------------------------------*/

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
   z-index: 0;
}
   
.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   min-width: 300px;
   color: #F9F1E9;
   text-transform: uppercase;
   text-align: center;
    top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.main-title .thin {
   font-weight: 200;
}

.sub-title {
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: 5px;
}

/*-------------------------------------- Social Links in header --------------------------------------*/

.social-links {
    margin: 20px 0px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align:center;
    color: #FAFAFA;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #5DADE2;
}

/*-------------------------------------- Navbar --------------------------------------*/

.navbarproperties {
    position: absolute;
    width: 100%;
    top: 0px;
    left; 0px;
    z-index: 1;
    background-color: rgb(0,0,0,0);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navbarproperties a {
    color:#FAFAFA;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbarproperties a:hover {
    color:#5DADE2;
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border: 0;
}

.navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=FAFAFA');
font-size: 18px;
}

/*-------------------------------------- About Me Section --------------------------------------*/

.aboutmeimage {
    position:relative;
    display:inline-block;
    margin: 20px 10px 20px 10px;
    float: right;
}

.aboutmeimage:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: rgb(250,250,250);
    background: -moz-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0.4051995798319328) 25%);
    background: -webkit-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0.4051995798319328) 25%);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(250,250,250,0.4051995798319328) 25%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#fafafa",GradientType=1);
}

.aboutmetextposition {
    position: relative;
    margin: 20px 20px;
}

.groupposition {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logoformat {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.collapse {
    overflow: hidden;

}

.collapse p {
    width: 90%;
    text-align: justify;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
}
/*
.logoposition {
    float: left;
}



.workhistorytitleposition {
    position: relative;
    margin: 20px 20px;
    left: 33%;
}

.educationtitleposition {
    position: relative;
    margin: 20px 20px;
}

.rowdistance {
    padding: 20px 20px;
}

*/


/*

.lightsection h4 {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #34495E;
}



.darkbgheading {
    min-height: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #FAFAFA;
    text-transform: uppercase;
    font-weight: 100;
    display: block;
    font-size: 22px;   
}

/* .imagesection {
    display: block;
    float: right;
    margin: 20px 20px 20px 10px; 
} */

.expandicon {
    color: #34495E;
    margin:0;
    padding:0;
    border:0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    position:relative;
}

.expandicon i {
    margin-right: 5px;
}

.imagecontainer {
    max-width: 134px;
}