body{
    margin:0;
    padding:0;
    
    /*
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    background-position: center center;
    */
}

/*-------------------------------------- Hero Image Background (credits to Jasper La Chance) & Titles  --------------------------------------*/

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
   z-index: 0;
}
   
.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-transform: uppercase;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}
.main-title .thin {
   font-weight: 200;
}

.sub-title {
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: 5px;
}

/*-------------------------------------- Social Links in header --------------------------------------*/

.social-links {
    margin: 20px 0px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align:center;
    color: #FAFAFA;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #5DADE2;
}

/*-------------------------------------- Navbar --------------------------------------*/

.navbarproperties {
    position: absolute;
    width: 100%;
    top: 0px;
    left; 0px;
    z-index: 1;
    background-color: rgb(0,0,0,0);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navbarproperties a {
    color:#FAFAFA;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbarproperties a:hover {
    color:#5DADE2;
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border: 0;
}

.navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=FAFAFA');
font-size: 18px;
}

/*-------------------------------------- Navbar --------------------------------------*/

.aboutme {
    background-color: #FAFAFA;
}